/* Typography
-------------------------------------
*/

html {
  font: normal 100%/1.5 Helvetica, serif;
}

@media only screen and (min-width: 60em) {
  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 120em) {
  html {
    font-size: 130%;
  }
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote, table, hr {
  margin: 0 0 1.5rem 0;
}

h1,
.exa {
  font-size: 4.2087rem;
  line-height: 5.525rem;
}

h2,
.peta {
  font-size: 3.1573rem;
  line-height: 4.225rem;
}

h3,
.tera {
  font-size: 2.3686rem;
  line-height: 3.25rem;
}

h4,
.giga {
  font-size: 1.7769rem;
  line-height: 2.6rem;
}

h5,
.mega {
  font-size: 1.333rem;
  line-height: 1.95rem;
}

h6,
.kilo,
input,
textarea {
  font-size: 1rem;
  line-height: 1.3rem;
}

small,
.milli {
  font-size: .7502rem;
  line-height: 1.3rem;
}

.micro {
  font-size: .5628rem;
  line-height: .975rem;
}

.push {
  margin-bottom: 1.5rem;
}

.push-half {
  margin-bottom: 0.75rem;
}

.push-double {
  margin-bottom: 3;
}

.pad-top {
  padding-top: 1.5rem;
}

.pad-bottom {
  padding-bottom: 1.5rem;
}
